### Case Study #04  : Testing of Hypothesis
### Sreelekshmy S L
### NDSA B_4

Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stat

Read the data

In [2]:
sales= pd.read_csv('Sales_add.csv')

In [3]:
sales.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

Check for null values

In [4]:
sales.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

No null values found

## Q1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

#### First create the x , y variables as an array from the data

In [5]:
x=np.array(sales['Sales_After_digital_add(in $)'])

In [6]:
y=np.array(sales['Sales_before_digital_add(in $)'])

#### State the hypothesis and significance level

### H_O : Average sales after digital add <= Average sales before digital add
### H_1 : Average sales after digital add > Average sales before digital add  
#### Significance level = 0.05

#### Since the sample size is less than 30 we use t-test for independent variables using the scipy.stats.ttest_ind

In [7]:
t_value,p=stat.ttest_ind(x,y,alternative='greater')

In [8]:
print('The p value: ',p)

The p value:  1.3071840034523225e-16

### Here p-value < 0.05
### Hence we reject the null hypothesis
### Therefore we can conclude that there is significant increase in sales after stepping into digital marketting.

## Q2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

#### First we prep the data for the test by creating a pivot table show casing each Region and Manager pair.

In [18]:
df=pd.DataFrame(sales[['Region','Manager']].value_counts(),columns=['Total'])

In [19]:
df=df.pivot_table(values='Total',index='Region',columns='Manager')
df

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

#### Now define the hypothesis

### H_0 : The features Region and Manager are independent of each other
### H_1 : They are dependent of each other

#### Here we are using Chi-square test for independence to check whether the features Region and Manager are independent of each other or not

In [20]:
# Chi-square test of independence. 
c, p, dof, expected = stat.chi2_contingency(df) 
# Print the p-value
print('The pvalue :', p)

The pvalue : 0.5493991051158094

### The pvalue > 0.05
### Hence we have no reason to reject the null hypothesis
### Therefore the features Region and Managers are independent of each other.

### End